# GLOBAL TELEGRAM_SETTINGS
TELEGRAM_BOT_ROOT_URL: 'https://api.telegram.org/bot'
TELEGRAM_BOT_FILE_URL: 'https://api.telegram.org/file/bot'
TELEGRAM_RETRY_COUNT: 50
TELEGRAM_PULL_TIMEOUT: 10
TELEGRAM_SEND_MSG_TIMEOUT: 18000
TELEGRAM_SKIP_SEND_MSG: true # Skip send message by timer
TELEGRAM_DEFAULT_CHAT_IDS: []

# RSS SETTINGS
RSS_URL: 'https://lenta.ru/rss'
RSS_RETRY_COUNT: 50

# Message settings
MSG_HEADER: '<b>Новости с пометкой ⚡</b>'
MSG_ADJECTIVES:
    - 'вонючий'
    - 'мерзкий'
    - 'говнистый'
    - 'подлый'
    - 'паскудный'
    - 'поганый'
    - 'гнусный'
    - ''
    - 'жалкий'
    - 'убогий'
    - 'никчёмный'
MSG_PRETEXT: 'A'
MSG_END: 'бубочка все еще не завел канал про чачу...'

# Message filer settings
MSG_WORDS_THRESHOLD: 0.25
MSG_FILTER_USER_IDS: []
MSG_FILTER_STRUCT:
    -
      filter_words:
          - 'вятич'
      common_replies:
          - 'Опять вятич петух закукарекал! Заместо Авроры'
          - 'Кто любит пить вятич тот любит сосать хуй'
          - 'Вятич, вятич - в сортах говна не разбираюсь'
          - 'Вятич, КУД-КУ-ДАХ!'
          - 'Опять вонючка рот раскрыл'
          - 'Опять про ебаную мочу'
          - 'Вятич - лучший напиток для сутулой собаки'
          - 'Вятич - говно на лопате'
          - 'Вятич? Нет спасибо, я не говноед'
          - 'Вятич! Лучшее средство для уринотерапии'
          - 'Вятич! Напруди в штанину!'
          - 'Что Вятич, что хуй - одновятичево'
          - 'Пьём мы  Вятич без конца - мы фанаты хуеца!'
          - |
              Вятич в ленте я купил
              Всё как говорили
              Оторвало днище мне
              Вот так топ сварили
      242378512_replies:
          - 'Юринов ИльAss - хуесос и пидарас'
          - 'Посмотри на вятич и на Илью. На Илью и на вятич. Да, вятич - в унитаз!'
          - 'Русич не тот кто Вятич пьёт. А кто Ильюше хуем по губам трясёт!'
          - '1) Вятич 2) Навоз 3) ИльAss - тут есть синонимы!'
          - |
              Жил был Вятич,
              Жил был Илья,
              Они поженились,
              Получилась хуйня
          - |
              Как сделать так, чтобы ИльAss выглядел еще более глупо?
              Дать ему в руку бутылку Вятича.

    -
      filter_words:
          - 'топки'
          - 'топков'
          - 'топок'
          - 'топоки'
          - 'топком'
          - 'топка'
      filter_threshold: 0.15
      filter_mode: 'simple'
      common_replies:
          - 'Топок - это «топ» но для долбоёбов'
          - 'Не обращайте внимание, у него аутизм'
          - 'Жопе слова не давали'
          - 'Опять петух слова коверкает'
          - |
              Один мальчик как-то сказал "топок" вместо "топ"
              Над ним долго смеялись потом облили вятичем и определили в чуханы
      242378512_replies:
          - 'Топок - Илюша присел на хуёк'
          - 'Топок - ебать Илью в пупок'

    - filter_words:
          - 'навоз'
      filter_threshold: 0.15
      filter_message_type: 'video'
      common_replies:
          - 'BAACAgIAAxkBAAICsmPIMd7dIOtxEZ5nHSzoeDy1rAlaAAJvJQAC1MQwSTroPNx6m3dULQQ'

    - filter_words:
          - 'скип'
      filter_threshold: 0.15
      common_replies:
          - 'Анус себе скипни пес!'
          - 'Слово скип только опущенец говорит'
      242378512_replies:
          - 'Скип. у Ильи в очке полип'
          - 'СКИП - Сральные Конвульсии Ильюшки педераста'
          - 'Скип. У ИльAssa пипирка не стоит'

PHOTO_YOLO_USER_IDS: []
PHOTO_YOLO_CHAT_IDS: []
PHOTO_YOLO_THRESHOLD: 0.65
PHOTO_YOLO_MODEL: 'models/yolov8l.pt'
PHOTO_YOLO_CLASSES: [39, 40, 41, 42, 43, 44]
